.custom-design-1 {
  text-align: center;
}
.cursor-pointer {
  cursor: pointer;
}

.Container {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Container button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
}
.about-section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.about-section p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}
